:root {
    --accent-color: #2196F3;
    --primary-color:  #212121;
    --basic-color-team: #F5F4FA;
    --basic-color-footer:  #2F303A;
    --primary-font:"Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
 body { 
    font-family:var(--primary-font)
}
/* header */
/* logo */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.logo-black {
    color: #000000;
}
/* nav */
.nav-list-link {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--accent-color);
}

.contact-mailto {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;   
}
.contact-mailto:hover,
.contact-mailto:focus {
    color: var(--accent-color);
}

.contact-number {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.contact-number:hover,
.contact-number:focus {
    color: var(--accent-color);
}

/* main */
/* hero section */
.hero {
    /* color: #ffffff; */
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.btn-hero {
    /* color: #ffffff; */
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    cursor:pointer;
}
.btn-hero:hover,
.btn-hero:focus {
   background-color:var(--accent-color);
   color: #ffffff; 
}
/*section advantages  */
.advantages-header {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-text {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px
}
/* section activity */
.activity-header {
    color: var(--primary-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
/*section team */
.team {
    background-color:var(--basic-color-team)
}
.surname {
    color: var(--primary-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.profession {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
/* footer */
.footer {
    background: var(--basic-color-footer)
}
.logo-white {
    color: #ffffff;
}
.maps {
    color: #ffffff;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}
.maps:hover,
.maps:focus {
    color: var(--accent-color);
}
.mailto {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}
.mailto:hover,
.mmailto:focus {
    color: var(--accent-color);
}
.tel {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}
.tel:hover,
.tel:focus {
    color: var(--accent-color);
}
