.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* header */
/* logo */
.logo {
    color: #2196F3;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.logo-black {
    color: #000000;
}
/* nav */
.nav-list-link {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}

.contact-mailto {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;   
}
.contact-mailto:hover,
.contact-mailto:focus {
    color: #2196F3;
}

.contact-number {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.contact-number:hover,
.contact-number:focus {
    color: #2196F3;
}

/* main */
/* hero section */
.hero {
    /* color: #ffffff; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.btn-hero {
    /* color: #ffffff; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    cursor:pointer;
}
.btn-hero:hover,
.btn-hero:focus {
   background-color:#2196F3;
   color: #ffffff; 
}
/*section advantages  */
.advantages-header {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-text {
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px
}
/* section activity */
.activity-header {
    color: #212121;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
/*section team */
.team {
    background-color:#F5F4FA;
}
.surname {
    color: #212121;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.profession {
    color: #757575;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
/* footer */
.footer {
    background: #2F303A;
}
.logo-white {
    color: #ffffff;
}
.maps {
    color: #ffffff;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}
.maps:hover,
.maps:focus {
    color: #2196F3;
}
.mailto {
    color: rgba(255, 255, 255, 0.60);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}
.mailto:hover,
.mmailto:focus {
    color: #2196F3;
}
.tel {
    color: rgba(255, 255, 255, 0.60);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}
.tel:hover,
.tel:focus {
    color: #2196F3;
}
