.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* header */
/* logo */
.logo {
    color: #2196F3;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.logo-black {
    color: #000;
}
/* nav */
.nav-list-link {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}

.contact-mailto {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;   
}
.contact-mailto:hover,
.contact-mailto:focus {
    color: #2196F3;
}

.contact-number {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.contact-number:hover,
.contact-number:focus {
    color: #2196F3;
}

/* main */
/* hero section */
.hero {
    /* color: #FFF; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.btn-hero {
    /* color: #FFF; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    cursor:pointer;
}
.btn-hero:hover,
.btn-hero:focus {
   background-color:#2196F3;
   color: #fff; 
}
/*section advantages  */
.advantages-header {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.advantages-text {
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px
}
/* section activity */
.activity-header {
    color: #212121;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
/*section team */